page-item-detail {
    #dateTopic{
         text-align: right;
    }
    #topicdetail{
        border: 1px solid  #488aff;
        border-radius: 4px;
        padding:20px;
        width: 95%;
        margin-right: 5%;
    }
    #card{
        width: 85%;
        border: 1px solid  #488aff;
        border-radius: 4px;
        padding:20px;
        margin-left: 15%;
   
    }
    #buttonreply{
        margin-right: 5%;
    }

}
