page-home {
    #viewbtn  {
        margin-right: 10px;
        text-align: right;
    }
    #card{
        padding:10px;
        border: 1px solid  #488aff;
        border-radius: 4px; 
      
    }
    #searchbar{

        width: 70%;
    }
}
